h1, h2 { text-align: center; }

p { font-size: larger; text-align: left; }

ul { font-size: larger; }
li { padding: 5px; list-style-type: circle; }

button { font-size: larger; padding: 4%; width: 125px; }
select { padding: 3%; width: 100%; }

.mainSection, .laptopsSection {
    display: flex;
    height: auto;
    overflow: hidden!important;
    margin: auto;
    justify-content: center;
}

#bankArea {
    border: solid;
    margin: 25px;
    padding: 25px;
    width: 33%;
}

#workArea {
    border: solid;
    margin: 25px;
    padding: 25px;
    width: 33%;
}

#laptopsArea {
    border: solid;
    margin: 25px;
    padding: 25px;
    width: 33%;
}

#laptopInfoArea {
    border: solid;
    display: flex;
    margin: 25px;
    padding: 25px;
    width: 100%;
}

#buyLaptopArea {
    padding-left: 50%;
}

#laptopImg {
    height: 100px;
    width: 200px;
    padding: 2px;
    padding-right: 28px;
}

#laptopName { text-align: left; }

#bankBalance, #workBalance { float: right;}

#bankLoanBtn { 
    float: left; 
    background-color: orange;
}

#bankPayBtn { 
    float: right; 
    background-color: yellowgreen;
}

#workBankBtn { 
    float: left; 
    background-color: goldenrod;
}

#workLaborBtn { 
    float: right; 
    background-color: royalblue;
}
