h1, h2 { text-align: center; }

p { font-size: larger; padding: 5%; text-align: left; }

ul { font-size: larger; }
li { padding: 5px; list-style-type: circle; }

button { font-size: larger; padding: 4%; width: 125px; }
select { padding: 3%; width: 100%; }

.mainSection {
    display: flex;
    height: auto;
    margin: auto;
    justify-content: center;
}

#bankArea {
    border: solid;
    margin: 25px;
    padding: 25px;
    width: 33%;
}

#workArea {
    border: solid;
    margin: 25px;
    padding: 25px;
    width: 33%;
}

#laptopsArea {
    border: solid;
    margin: 25px;
    padding: 25px;
    width: 33%;
}

#bankBalance, #workBalance { float: right;}

#bankLoanBtn { 
    float: left; 
    background-color: orange;
}

#bankPayBtn { 
    float: right; 
    background-color: yellowgreen;
}

#workBankBtn { 
    float: left; 
    background-color: goldenrod;
}

#workLaborBtn { 
    float: right; 
    background-color: royalblue;
}
